.text {
  color: white;
}
.text:hover {
  cursor: pointer;
}
.home_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 30px;
}
.home_div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home_title {
  width: 700px;
  margin: 0px;
  margin-top: 50px;
  font-size: 40px;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;

  text-align: center;
  /* font-family: "Roboto Mono", monospace; */
}
.canvas_div {
  position: inherit;
  place-items: center;
  width: 100%;
  height: 100%;
}
