.profile_card {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  margin: 30px;
}
.profile_card_pic_div {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  margin: 20px;
}
.profile_card_pic_div_div {
  width: 270px;
  height: 270px;
  margin: 0px 0px 20px 40px;
}
.profile_card_pic {
  border-radius: 100%;
  width: 270px;
  height: 270px;
}
.profile_card_pic_about {
  margin-left: 40px;
}
.profile_card_pic_about_h1 {
  font-size: 27px;
  margin: 0px;
}
.profile_card_pic_about_p {
  font-size: 15px;
  font-weight: 100;
  margin: 0px;
}
.profile_card_about {
  width: 70%;
  margin: 20px 60px 20px 0px;
  color: white;
}

.profile_card_about_h1 {
  font-size: 35px;
  margin-bottom: 0px;
}
.profile_card_about_p {
  font-size: 20px;
  font-weight: 100;
}

.profile_card_about_divider {
  width: 100%;
  height: 1px;
  background-color: white;
}
.icon_div {
}
.project_content_link {
  margin-right: 20px;
}
.project_content_link:hover {
  color: rgba(255, 255, 255, 0.623);
}
