.profile_card {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  margin: 30px;
}

.profile_card:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}
.resume_edu_card {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  margin: 30px;
  color: white;
  padding: 30px;
}

.resume_edu_card:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}
.button_div {
  display: flex;
  justify-content: center;
  padding: 20px 0px 50px 0px;
  color: white;
}
.button {
  color: white;
  width: 20%;
  height: 50px;
  border-radius: 50px;
  border-style: none;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  border-style: solid;
  border-color: white;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #000000),
    color-stop(50%, #ffffff)
  );
  background: -webkit-linear-gradient(left, #000000 50%, #ffffff 50%);
  background: -moz-linear-gradient(left, #000000 50%, #ffffff 50%);
  background: linear-gradient(to right, #000000 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: 0 0;
  -webkit-transition: background-position 0.3s ease-out;
  -moz-transition: background-position 0.3s ease-out;
  transition: background-position 0.3s ease-out;
}
.button:hover {
  background-position: -100% 0;
  color: black;
  cursor: pointer;
}
.resume_edu_header_main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}
.resume_edu_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
/* .resume_edu_header_2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
} */
.resume_edu_header_h1 {
  font-size: 40px;
  margin: 0px;
}
.resume_edu_header_h2 {
  font-size: 27px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
}
.resume_edu_header_h2_2 {
  font-size: 23px;
  font-weight: lighter;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
}
.resume_edu_body {
  margin: 10px 0px 0px 0px;
  font-weight: 100;
  font-size: 20px;
}
.resume_edu_header_date {
  font-size: 23px;
  font-weight: 100;
  margin: 0px;
}
.resume_edu_header_date_2 {
  font-size: 20px;
  font-weight: 100;
  margin: 0px;
}
.profile_card_pic_div {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  margin: 20px;
}
.profile_card_pic_div_div {
  width: 270px;
  height: 270px;
  margin: 0px 0px 20px 40px;
}
.profile_card_pic {
  border-radius: 100%;
  width: 270px;
  height: 270px;
}
.profile_card_pic_about {
  margin-left: 40px;
}
.profile_card_pic_about_h1 {
  font-size: 27px;
  margin: 0px;
}
.profile_card_pic_about_p {
  font-size: 15px;
  font-weight: 100;
  margin: 0px;
}
.profile_card_about {
  width: 70%;
  margin: 20px 60px 20px 0px;
  color: white;
}

.profile_card_about_h1 {
  font-size: 35px;
  margin-bottom: 0px;
}
.profile_card_about_p {
  font-size: 20px;
  font-weight: 100;
}

.profile_card_about_divider {
  width: 100%;
  height: 1px;
  background-color: white;
}

.project_content_link {
  margin-right: 20px;
}
.project_content_link:hover {
  color: rgba(255, 255, 255, 0.623);
}
