main,
html,
body {
  padding: 0;
  margin: 0;

  background-color: black;
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  padding-left: 20px;
  margin-left: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0px;
  list-style: none;
}
