.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  resize: none;
  width: auto;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: black;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.lightbulb {
  margin-left: 15px;
  margin-right: 15px;
}

.logo_link {
  font-size: 23px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: white;
}
.link {
  font-size: 23px;
  margin-left: 25px;
  margin-right: 50px;
}

.links {
  display: flex;
  flex-direction: row;
}
