.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar_left {
  display: flex;
}

.navbar_right {
  display: flex;
  flex-direction: row;
}
.navbar_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  font-size: 15px;
  /* font-family: "Courier Prime", monospace; */
}
.navbar_title_small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  font-size: 15px;
  text-align: left;
  width: 40%;
}

.navbar_content {
  margin: 30px;
  font-size: 24px;
}

.navbar_content_hidden {
  margin: 10px;
  text-align: right;
  font-size: 20px;
}

.navbar_hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.navbar_hamburger_hidden {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  background-color: white;
  color: black;
  width: 200px;
  right: 0px;
  top: 101px;
}

.icon {
  margin: 20px;
}
