.project_div {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project_container {
  display: flex;
  width: 80%;
  height: 230px;
  margin: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.project_container:hover {
  transform: scale(1.009);
  transition-duration: 0.2s;
}

.project_content {
  margin: 30px;
  font-family: "Inter", sans-serif;
  /* font-family: "Courier New", Courier, monospace; */
}

.project_content_header {
  font-weight: 400;
  margin: 0px;
}
.project_content_p {
  font-weight: 100;
  font-size: large;
}
.project_content_link {
  color: blue;
  font-weight: 700;
  text-decoration: underline;
}
.project_content_link:hover {
  color: rgb(166, 0, 255);
}
